@use "../../components/styles" as *;

.home {
	margin: 0 auto;
	width: 87%;
}

@media (min-width: $tablet) {
	.home {
		width: 90%;
	}
}

.text {
	color: $blackish-gray;
}
.text-dark {
	color: $white;
}
