//PRIMARY COLORS
$violet: rgb(89, 100, 224);
$purple: rgb(98, 57, 235);
$red: #ff3333;
$bright-blue: rgb(31, 104, 237);
$light-violet: rgb(147, 155, 244);
$very-dark-blue: rgb(25, 32, 45);
$midnight: rgb(18, 23, 33);

//NEUTRAL COLORS
$white: rgb(255, 255, 255);
$beige-gray: rgb(185, 184, 188);
$dark-beige-gray: rgb(148, 147, 151);
$cloud-gray: rgb(239, 235, 253);
$light-gray: rgb(244, 246, 248);
$gray: rgb(157, 174, 194);
$dark-gray: rgb(110, 128, 152);
$very-dark-gray: rgb(58, 58, 60);
$blackish-gray: rgb(28, 28, 30);
