// KUMBH SANS

// H1
$h1-size: 28px;
$h1-line: 34px;

// H2
$h2-size: 24px;
$h2-line: 29px;

// H3
$h3-size: 20px;
$h3-line: 24px;

// H4
$h4-size: 14px;
$h4-line: 18px;

// BODY
$body-size: 16px;
$body-line: 26px;
